.subHeader__main {
  display: flex;
  justify-content: center;
  color: #000;
  background-color: #fff;
  padding: 5px 0px;
}
.subHeader__main .nav__links label {
  color: #000;
}
.subHeader__main .nav__links {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none !important;
}
.subHeader__main .burgerIcon {
  border: 0.5px solid; 
  padding: 9px;  
  border-radius: 4px;
}